@charset "UTF-8";

.list-item {
  color: white;
}
.list-item span {
  display: inline-block;
  margin-right: 8px;
}

.list-item button {
  appearance: none;
  background-color: white;
  color: red;
  border: none;
  border-radius: 3px;
  line-height: 1;
  padding-top: 0;
  padding-bottom: 2px;
}
